html,body {
    background: rgb(33,33,33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}
h1 {
    text-align: center;
}
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
a:link {
    color: gray;
}
a:visited {
    color: lightskyblue;
}
/* for monaco */
.wrapper {
    padding: 0 5%;
}
#monaco-editor-root {
    height: calc(50vh - 7.5rem - 70px);
}
.timeline-style-video{
    width: 1000Px;
    height: 20px;
    background-color: cadetblue;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}
.timeline-style-audio{
    width: 300Px;
    height: 20px;
    background-color: rgb(160, 95, 160);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    left: 50px;
}
.timeline-style{
    width: 500Px;
    height: 20px;
    background-color: rgb(238, 231, 96);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;  
    right: 30px;
}