body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(33, 33, 33);
    color: white;
}
.grid-container {
    display: grid;
    grid-template-areas:
        "editor download"
        "visualization visualization";
    grid-template-columns: 2fr 1fr; /* L'éditeur prend 2/3, la zone de téléchargement 1/3 */
    grid-template-rows: 1fr 1fr;   /* Deux lignes */
    height: 100vh;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.editor {
    grid-area: editor;
    background-color: #1e1e1e;
    border: 1px solid #444;
    overflow: hidden; /* Empêche le débordement */
    height: 100%; 
}

.visualization {
    grid-area: visualization;
    background-color: #222;
    border: 1px solid #444;
    padding: 10px;
}

.download {
    grid-area: download;
    background-color: #333;
    border: 1px solid #444;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "editor"
            "download"
            "visualization";
        grid-template-columns: 1fr; /* Une seule colonne */
        grid-template-rows: auto;   /* S'adapte au contenu */
    }
}

h1 {
    text-align: center;
}
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
a:link {
    color: gray;
}
a:visited {
    color: lightskyblue;
}
/* for monaco */
.wrapper {
    padding: 0 5%;
}
#monaco-editor-root {
    height: calc(100vh - 7.5rem - 70px);
}
